<!DOCTYPE html>
<html lang=ru dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title}}</title>
  </head>
  <style>
  *{
    margin:0; padding:0;
    }
  #topmenu{
    padding: 1em;
    box-shadow:0 0 3px 1px rgb(0,0,0,0.4);
    color: #373737;
  }
  #topmenu>input{
    float:right;
  }
  #content{
    margin:1em;
    border:1px solid grey;
    padding:0.5em;
  }
  #content>li{
    list-style-type: none;
    display: inline-block;
    border:1px solid gainsboro;
    padding: 0.2em;
    width:8em;
    height:8em;
    margin:0.3em;
  }
  </style>
  <body>
    <div id="topmenu">
      <b><i>FTP</i></b>
      <input type="text" placeholder="search">
    </div>
    <ul id="content">

    </ul>
  </body>
  <script>
let arrDat = [];
let content = document.getElementById('content');
  content.innerHtml="";
  fetch("http://192.168.101.87:8011/?data=json")
    .then(response => response.json())
    .then((data)=>{
      for (let i=0; i<data.length; i++){
        let file = document.createElement("li");
        let fileImg = document.createElement("img");
        let fileAhref = document.createElement("a");
        content.append(file);
        fileAhref.setAttribute('href',data[i].url);
        file.append(fileAhref);
        fileAhref.innerText = data[i].name;
      }
    })


  </script>
</html>
